<div class="d-flex align-items-center bg-light border rounded-pill my-1 p-1 flex-nowrap">    
    <div class="flex-shrink-0 d-flex justify-content-center align-items-center image-container">
        <img [src]="imageUrl" alt="" class="rounded-circle img-thumbnail">
    </div>

    <div class="flex-grow-1 px-2 min-w-0">
        <h3 class="text-primary mb-1 text-truncate">
            {{burger.name}}
        </h3>

        <p class="mb-1 small text-truncate">
            {{burger.description}}
        </p>

        <span class="text-muted">
            {{burger.isVegan ? 'Vegan. ' : (burger.isChicken ? 'Chicken. ' : 'Beef. ') }}
            {{burger.isLactoseFree ? 'Lactose free.' : 'Dairy.'}}
        </span>
    </div>

    <div class="px-2 flex-shrink-0">
        <h1 class="text-center">{{burger.basePrice}}kr.</h1>
    </div>

    <div class="px-2 flex-shrink-0 text-end pe-4">
        <button *ngIf="!isAdmin" class="btn btn-success btn-sm">Add</button>


        <div *ngIf="isAdmin" class="d-flex flex-column gap-1">
            <button class="btn btn-primary btn-sm" (click)="updateBurger(burger.id)">Update</button>
            <button class="btn btn-danger btn-sm" (click)="deleteBurger()">Delete</button>
        </div>
    </div>
</div>